<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>What Makes A Videogame A Hit?</title>
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no"> -->
  <link rel="shortcut icon" href="http://icons.iconarchive.com/icons/ph03nyx/super-mario/256/Retro-Mushroom-1UP-3-icon.png">
  <link rel="icon" href="http://icons.iconarchive.com/icons/ph03nyx/super-mario/256/Retro-Mushroom-1UP-3-icon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	<div id="wrapper">
		<header>
			<h1>What Makes A Videogame A Hit?</h1>
		</header>
		
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="about.html">About Us</a></li>
				<li><a href="mosaic.html">Mosaic</a></li>
				<li><a href="trends.html">Trends</a></li>
				<li><a href="topsales.html">Top Sales</a></li>
				<li><a href="gamecount.html">Game Count</a></li>
				<li><a href="machine_learning.html">Machine Learning</a></li>
				
			</ul>
		</nav>
		
		<section id="content">
			<h1 class="oneup">The Mosaics!</h1>

            <hr>
            <br>

            <center>

                <p><img src="https://i.imgur.com/9YoB9s7.png" alt="Mosaic 1up image" width=960 height=533></p>
                <h1>This Nintendo mosaic was created in Python using a pool of 767 NES cover art images scraped with URLs extracted from TheGamesDB.net API.</h1>


                <!-- zoomed image if we choose to show -->
                <!-- <p><img src="https://i.imgur.com/ucjOuKy.png" alt="Mosaic 1up Zoom" width=570 height=450></p> -->

                <br>
                <hr><br>

                <p><img src="https://i.imgur.com/iLYPIY9.png" alt="Mosaic Atari image" width=600 height=800></p>
                <h1>This Atari mosaic was created in Python using a pool of 798 Atari cover art images scraped with URLs extracted from TheGamesDB.net API.</h1>


                <br>
                <hr><br>

                <p><img src="https://i.imgur.com/Fo723v2.png" alt="Mosaic Poster image" width=960 height=533></p>
                <h1>This Top Sales mosaic was created in Python using a pool of 2600 cover art images scraped with URLs extracted from TheGamesDB.net API and selected according to highest North American sales for all platforms.

		    <br>	
                    <br>
                    <hr><br>

            </center>

            <h1>Python Libraries Used: Pandas, Photomosaic, Numpy, Skimage, Pillow, Urllib</h1>

		</section>
		
		<footer>
			<span class="copy"></span>
			<ul class="footlinks"><strong>
				<li><a href="/"><img src="http://icons.iconarchive.com/icons/ph03nyx/super-mario/256/Retro-Mushroom-1UP-3-icon.png" height=75 width=75></a></li></strong></img>
			</ul>
		</footer>
	</strong>
	</div>

</body>
</html>
